//colours
$grey: #888888;
$grey2: #666;
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//spacing
$xxs-size: 0.5rem;
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//fade time
$fade-time: 1s;

//colours
$main-colour: #100527;